body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button.fieldHeader span,
.MuiTab-label-187,
.MuiTab-label-203,
.MuiTab-label-205 {
  font-size: 1.5rem !important;
}

.TabIndicator-colorSecondary-209 {
  background-color: #4E86E4 !important;
}

.MuiBottomNavigationAction-wrapper-109 {
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.MuiTypography-root-114.MuiTypography-body1-123 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #657C9A
}

.MuiFormHelperText-root-283 {
  color: #EB5757 !important
}

.react-datepicker {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #ffffff;
  border: none;
  border-radius: unset;
  font-weight: 500;
  line-height: normal;
  font-size: 9px;
  color: #475666;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  text-align: center;
  background-color: #ffffff;
  border-bottom: unset;
}

.react-datepicker__current-month {
  font-size: 14px;
  color: #475666;
}

.react-datepicker__day-name {
  color: #475666;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 1.3rem;
  line-height: 1rem;
}

.react-datepicker__day {
  color: #475666;
  background-color: #FAFCFF;
}

.react-datepicker__day--outside-month {
  color: transparent;
  pointer-events: none;
  background-color: #FFFFFF;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: inherit;
}

.react-datepicker__day--today {
  font-weight: 500;
}

.react-datepicker-wrapper {
  position: relative;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

:focus {
  outline: none !important;
}

.react-select__menu-list::-webkit-scrollbar {
  width: 8px;
  height: 42px;
}

.react-select__menu-list::-webkit-scrollbar-track {
  border-radius: 29px;
}

.react-select__menu-list::-webkit-scrollbar-thumb {
  background: #C1CFE0;
  border-radius: 29px;
  border: 3px solid #ffffff
}

.react-select__menu-list::-webkit-scrollbar-thumb:hover {
  background: #C1CFE0;
}

div.react-select-container {
  box-sizing: border-box;
  position: relative;
}

.react-select-container:before {
  content: '*';
  position: absolute;
  right: 0;
  top: -15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #657C9A;
  font-size: 14px;
  transform: translate(0, -5.5px) scale(1);
  line-height: 16px;
  font-weight: 400;
}

div.react-select-container > div.react-select__control {
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid #C1CFE0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 0 12px;
  width: 100%;
  color: #000000;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.css-1rtrksz.react-select__value-container,
div.react-select__control > div.react-select__value-container--has-value,
div.react-select__value-containe > div.react-select__single-value,
.css-va7pk8.react-select__single-value,
.react-select__value-container > .css-rsyb7x,
.css-rsyb7x > .react-select__input {
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #000000;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

div.react-select__control > .react-select__indicators {
  display: none;
}

div.react-select__menu {
  box-shadow: unset;
  border-radius: unset;
  max-height: 172px;
}

div.react-select__menu-list {
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #657C9A;
  max-height: 172px;
}

div.react-select__option:hover {
  background-color: #E7F0FF;
}