body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button.fieldHeader span,
.MuiTab-label-187,
.MuiTab-label-203,
.MuiTab-label-205 {
  font-size: 1.5rem !important;
}

.TabIndicator-colorSecondary-209 {
  background-color: #4E86E4 !important;
}

.MuiBottomNavigationAction-wrapper-109 {
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.MuiTypography-root-114.MuiTypography-body1-123 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #657C9A
}

.MuiFormHelperText-root-283 {
  color: #EB5757 !important
}

.react-datepicker {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #ffffff;
  border: none;
  border-radius: unset;
  font-weight: 500;
  line-height: normal;
  font-size: 9px;
  color: #475666;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  text-align: center;
  background-color: #ffffff;
  border-bottom: unset;
}

.react-datepicker__current-month {
  font-size: 14px;
  color: #475666;
}

.react-datepicker__day-name {
  color: #475666;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 1.3rem;
  line-height: 1rem;
}

.react-datepicker__day {
  color: #475666;
  background-color: #FAFCFF;
}

.react-datepicker__day--outside-month {
  color: transparent;
  pointer-events: none;
  background-color: #FFFFFF;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: inherit;
}

.react-datepicker__day--today {
  font-weight: 500;
}

.react-datepicker-wrapper {
  position: relative;
}

/*.react-datepicker-wrapper:before {*/
  /*content: '*';*/
  /*position: absolute;*/
  /*right: 0;*/
  /*top: -15px;*/
  /*font-family: "Roboto", "Helvetica", "Arial", sans-serif;*/
  /*color: #657C9A;*/
  /*font-size: 14px;*/
  /*transform: translate(0, -5.5px) scale(1);*/
  /*line-height: 16px;*/
  /*font-weight: 400;*/

/*}*/
