body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button.fieldHeader span,
.MuiTab-label-187,
.MuiTab-label-203,
.MuiTab-label-205 {
  font-size: 1.5rem !important;
}

.TabIndicator-colorSecondary-209 {
  background-color: #4E86E4 !important;
}

.MuiBottomNavigationAction-wrapper-109 {
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.MuiTypography-root-114.MuiTypography-body1-123 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #657C9A
}

.MuiFormHelperText-root-283 {
  color: #EB5757 !important
}